<!-- Head -->
<meta charset="UTF-8">
<title>Assemble Examples</title>
<meta name="viewport" content="user-scalable=no,initial-scale = 1.0,maximum-scale = 1.0">
<link rel="stylesheet" href="{{assets}}/css/style.css">
<script src="{{#if production}}{{assets}}/js/app.min.js{{else}}{{assets}}/js/app.js{{/if}}"></script>
