<!-- Header -->
<header class="main-header">
  {{> main_logo }}

  <nav class="main-nav">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Production</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </nav>
</header>
