<!-- Sidebar -->
<aside class="main-sidebar">
  <nav class="secondary-nav">
    <ul>
      <li>
        <a href="#">menu 1</a>
      </li>
      <li>
        <a href="#">menu 2</a>
      </li>
      <li>
        <a href="#">menu 3</a>
      </li>
    </ul>
  </nav>
</aside>
