{{#prettify}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>

    {{> header }}

    <!-- Content -->
    <div class="main-content">
      {{> body }}
    </div>

    {{> sidebar }}

    {{> footer }}
  </body>
</html>
{{/prettify}}
